# --------------------------
# Python virtual environment
.venv/

# Environment variables
.env

# Ignore model and conversation data
models/*
conversations/

# Python cache and compiled files
__pycache__/
*.pyc

# IDE and system files
.vscode/
.DS_Store
